<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
 
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
      providerName="System.Data.SqlClient" />
    <add name="emmaConnectionString3" connectionString="NERO-Gio\SQLEXPRESS01; Initial Catalog=NampAK;Integrated Security=True;MultipleActiveResultSets=True;" />
    <add name="DB_SCH" connectionString="data source= Technot; Initial Catalog=kaging;User ID=sa;password=Cylindervalve?%*;Integrated Security=False;Max Pool Size=200;" />
    <add name="emmaConnectionString" connectionString="data source= Technot; Initial Catalog=kaging;User ID=sa;password=Cylindervalve?%*;Integrated Security=False;Max Pool Size=200;" />
    <add name="ConString1" connectionString="data source= Technot; Initial Catalog=kaging;User ID=sa;password=Cylindervalve?%*;Integrated Security=False;Max Pool Size=200;" />
    <add name="constr" connectionString="data source= Technot; Initial Catalog=kaging;User ID=sa;password=Cylindervalve?%*;Integrated Security=False;Max Pool Size=200;" />
 <add name="conString" connectionString="data source= Technot; Initial Catalog=kaging;User ID=sa;password=Cylindervalve?%*;Integrated Security=False;Max Pool Size=200;"/>
 <add name="conString" connectionString="data source= Technot; Initial Catalog=kaging;User ID=sa;password=Cylindervalve?%*;Integrated Security=False;Max Pool Size=200;" />



    <add name="ConnectionString" connectionString="data source= Technot; Initial Catalog=kaging;User ID=sa;password=Cylindervalve?%*;Integrated Security=False;Max Pool Size=200;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  

  <system.web>
    <compilation debug="false" targetFramework="4.0" />
    <pages enableEventValidation="false"/>
   

 <customErrors mode="Off"/>
  


  </system.web>

 <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="819200000" />
      </webServices>
    </scripting>
  </system.web.extensions>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
